body {
    margin: 0;
    position: relative;
}

div {
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: -20px -20px rgb(19, 128, 0);
    height: 30px;
<<<<<<< Updated upstream
    transition-property: background-color;
    transition-duration: 5s;
=======
  
>>>>>>> Stashed changes
}

.par {
    width: 100px;
    background-color:blue;
}

.impar {
    width: 150px;
}

#primero {
    position: absolute;
<<<<<<< Updated upstream
    width: 50%;
    height: 50%;
=======
    width: 50%x;
>>>>>>> Stashed changes
    left: 0px;
    top: 0px;
    
}

<<<<<<< Updated upstream
#primero:hover {
    background-color: aqua;
    transition: background-color 1000ms linear;
}

#segundo {
    position: absolute;
    width: 50%;
    height: 50%;
    right: 0px;
=======
#segundo {
    position: absolute;
    width: 50%x;
    left: 0px;
>>>>>>> Stashed changes
    top: 0px;
}

#tercero {
    position: absolute;
    width: 50%;
<<<<<<< Updated upstream
    height: 50%;
    right: 0px;
    bottom: 0px;
}

#cuarto {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 0px;
=======
    left: 0px;
    top: 0px;
    bottom: 0px;
}

#cuerto {
    position: absolute;
    width: 50%;
    left: 0px;
    top: 0px;
>>>>>>> Stashed changes
    bottom: 0px;
}